* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
}

:root {
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    transition: .3s ease-in-out;
    --color1: #a855f7;
    --color2: #646cff;
    --color3: #343deaff;
    --color4: #242a9cff;  
    --color5: #a855f7;
    --color6: #8716f0ff;
    --color7: #6f1bbdff;
    --color8: #fff;
    --color9: #000;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h3{
    font-size: 4.7rem;
}