.offers{
    text-align: center;
    padding: 1rem;
    margin: 2rem 0;
}

.offers h3{
    font-size: 4.7rem; /* Added from App.css for consistency */
}

.gradientText {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition when theme changes */
}

.offersContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 50px 0;
}

.offersContainer .offersItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border: 4px solid var(--color5);
    border-radius: 25px;
    padding: 1rem;
    gap: 1rem;
}

.offersContainer .offersItem:hover{
    transform: scale(1.05);
}
.offersContainer .offersItem img{
    width: 200px;
    height: 200px;
}

.offersContainer .offersItem h4{
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.4rem;
}

.offers:global(.dark) .offersContainer .offersItem{
    box-shadow: 0 0 10px #ffffffa8;
}
.offers:global(.dark) .offersContainer .offersItem:hover{
    box-shadow: 0 0 30px #ffffffa8;
}

.offers:global(.dark) .offersContainer .offersItem{
    box-shadow: 0 0 10px #000000a8;
}
.offers:global(.dark) .offersContainer .offersItem:hover{
    box-shadow: 0 0 30px #0505057d;
}

.offers button{
    background: linear-gradient(135deg, #646cff 0%, #a855f7 100%);
    border: 3px solid;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 25px;
    box-shadow: 0 0 10px #a855f7;
    cursor: pointer;
    transition: all .5s;
}

@media (max-width: 700px){
.offers h3{
    font-size: 3.2rem;
}

.offersContainer .offersItem img{
    width: 180px;
    height: 180px;
}

.offers button{
    padding: .7rem 1.2rem;
    font-size: 1.2rem;
}
}

@media (max-width: 516px){
    .offers h3{
    font-size: 2.8rem;
    }
    .offersContainer .offersItem h4{
        font-size: 1.1rem;
    }
    .offersContainer .offersItem img{
    width: 150px;
    height: 150px;
}
    .offers button{
    padding: .5rem 1rem;
    font-size: 1rem;
}
}

@media (max-width: 457px){
    .offers h3{
    font-size: 2.5rem;
     }
    .offersContainer .offersItem h4{
        font-size: 1.1rem;
        max-width: 120px;
    }
}
